<!--<button mat-button>Basic</button>
<button mat-button color="accent">Accent</button>
<button mat-raised-button>Basic</button>



  <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>

    <mat-card>Simple card</mat-card>

<button>Save</button>

 -->



<!-- 

<h1>Angular Forms</h1>
<br>
<hr>
<h3>Reactive Form Validations</h3>

<app-reactive></app-reactive>
<hr>
<h3>Template Driven Form Validations</h3>
<br/>
<app-templatedriven></app-templatedriven> -->
<h>Angular Forms</h>
<a href="template"><button >Template </button></a>
<a href="reactive"><button >Reactive </button></a>
<router-outlet></router-outlet>