<div class="container">
	<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
	<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" >
			<div class="mb-3">
			  <label for="exampleFormControlInput1" class="form-label">First Name</label>
			  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="First Name" formControlName="firstname">
				<div class="error" *ngIf="firstname && firstname.invalid && firstname.touched">First Name input field is not valid</div>
			</div>
			<br>
			<div class="mb-3">
			  <label for="exampleFormControlInput1" class="form-label">Last Name</label>
			  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Last Name" formControlName="lastname">
			  <div class="error" *ngIf="lastname && lastname.invalid && lastname.touched">Last Name input field is not valid</div>
				
			</div>
			<br>
			<div class="mb-3">
			  <label for="exampleFormControlInput1" class="form-label">Email address</label>
			  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email address" formControlName="email">
			  <div class="error" *ngIf="email && email.invalid && email.touched">Email input field is not valid</div>	
			</div>
			<br>
			<div class="mb-3">
			  <label for="exampleFormControlInput1" class="form-label">Password</label>
			  <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password" formControlName="password">
			  <div class="error" *ngIf="password && password.invalid && password.touched">Password input field is not valid</div>
				
			</div>
			<br>
			<!-- <div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
				<input type="password" class="form-control" id="exampleFormControlInput1" placeholder="ConfirmPassword" formControlName="confirmpassword">
				<div class="error" *ngIf="confirmpassword && confirmpassword.invalid && confirmpassword.touched">Confirm Password input field is not valid</div>
				  
			  </div> -->
			<br>
			<button type="submit"  class="btn btn-outline-danger float-end" [disabled]= "reactiveForm.invalid">SignIn</button>
	</form>
	</div>
	<div class="col-sm-3"></div>
	</div>
</div>

<pre>{{ reactiveForm.value |json }}</pre>